* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ccc;
}

.container {
  width: 850px;
  padding: 30px 35px 35px;
  background-color: rgb(240, 150, 90);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(245, 127, 1);
}

.container h3 {
  font-size: 23px;
  font-weight: 500;
}

.container .wrapper {
  display: flex;
  margin: 20px 0;
  min-height: 335px;
}

.wrapper .editor-panel {
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 280px;
  height: 317px;
}

.editor-panel .title {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}

.editor-panel .options,
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor-panel button {
  height: 40px;
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 8px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #aaa;
  text-transform: uppercase;
}

.editor-panel button {
  background: #f5f5f5;
}

.editor-panel .filter button {
  width: calc(100% / 2 - 4px);
}

.filter button.active {
  color: #fff;
  background: #5372f0;
  border-color: #9cf053;
}

.editor-panel .slider {
  margin-top: 12px;
}

.filter .slider .filter-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  accent-color: #5372f0;
}

.filter .slider input {
  width: 100%;
  height: 5px;
}

.editor-panel .rotate button {
  width: calc(100% / 4 - 3px);
}

.rotate button:nth-child(3),
.rotate button:nth-child(4) {
  font-size: 18px;
}

.wrapper .preview-img {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.preview-img img {
  max-width: 490px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.controls button {
  font-size: 14px;
  cursor: pointer;
  background: #fff;
  padding: 11px 22px;
  border-radius: 3px;
}

.controls .reset-filter {
  color: #6c757d;
  border: 1px solid #6c757d;
}

.controls .choose-img {
  background: #6c757d;
}

.controls .save-img {
  background: #5372f0;
  margin-left: 5px;
  color: white;
  font-weight: 500;
}

/* responsivenes 18*/

@media screen and (max-width: 760px) {
  .container {
    padding: 24px;
  }
  .container .wrapper {
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel {
    width: 100%;
  }
  .wrapper .preview-img {
    width: 100%;
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 500px) {
  .controls button {
    width: 100%;
    margin-bottom: 10px;
  }
  .controls .row {
    width: 100%;
  }
  .controls .row .save-img {
    margin-left: 0px;
  }
}

.divinder {
  color: red;
}
